mail_account:
  host: smtp.gmail.com
  user: yourMail
  password: yourPassword
  encryption: ssl

sender:
  email: philipp.kretzschmar@gmail.com
  name: Philipp Kretzschmar

live_mail_recievers:
  recievers:
    -
      firstname:
      lastname:
      gender:
      email:

test_mail_recievers:
  recievers:
    -
      firstname: Jarael
      lastname: Dafoe
      email: philipp.kretzschmar@gmail.com
      gender: fnord

content:
  genderfoo:
    male: Mister
    female: Madame
  greeting: Hallo
  subject: >
    [php-unconference-2015] Sponsoren gesucht! Wir brauchen Ihre Unterstützung
  content: >
    der BOOT - Best Of Open Technologies e.V.​ veranstaltet gemeinsam mit dem FSR der Informatik der Universität Hamburg​ wie auch in den letzten Jahren die ​PHP Unconference Hamburg​[1].

    Die PHP Unconference wird vom 19. bis 20.09.2015 am Institut für organische Chemie der Universität Hamburg stattfinden.

    Diese Veranstaltung richtet sich an 400-450 Teilnehmerinnen und Teilnehmer vornehmlich aus dem In- aber auch dem Ausland. Die Zielgruppe der Veranstaltung sind Webentwickler und Berater, mit einem privaten und beruflichen Schwerpunkt auf PHP oder Webtechnologien.

    Wie in den letzten Jahren erwarten die Veranstalter mehrere PHP-Core-Entwickler und eine Vielzahl an Personen mit Rang und Namen aus der PHP-Community. Die vergangenen ​PHP Unconferences zeichnen sich durch eine hohe Qualität der Sessions aus, welche sich mit professionellen Konferenzen messen können. Die Nachfrage ist in den letzten Jahren stetig gestiegen, sodass wir bereits wenige Tage nach Ausgabe der Ticket-Kontingente komplett ausverkauft sind.

    Damit auch in diesem Jahr die Veranstaltung zu einem Erfolg wird, benötigen wir Ihre Unterstützung!

    Im wesentlichen wird es drei Packete geben:

    * Gold Sponsor zu EUR 4.000 (max. 5 Slots)<br />
      - Elevator-Pitch<br />
      - Standplatz vor ort inklusive<br />
      - Freie Aufstellmöglichkeit für Stand- und Roll-Plakate unterschiedlicher Größe und Anzahl am Veranstaltungsort<br />
      - Nennung auf Website mit Logo und Verlinkung und dem Sponsortstatus: Gold<br />
      - Nennung in E-Mails mit dem Sponsorstatus: Gold<br />
      - 8 Freitickets, max. 4 zusätzlich käuflich<br />
      - inkl. aller Silber-Sponsoren-Benefits

    * Silber Sponsor zu EUR 2.000 (max. 10 Slots)<br />
      - Befestigung von Plakaten bis zu einer Größe von DIN A3 am Veranstaltungsort<br />
      - Nennung auf Website mit Logo und Verlinkung und dem Sponsortstatus: Silber<br />
      - Nennung in E-Mails mit dem Sponsorstatus: Silber<br />
      - 4 Freitickets, max. 2 zusätzlich käuflich<br />
      - inkl. aller Bronze-Sponsoren-Benefits

    * Bronze-Sponsor zu EUR 1.000 (max. 20 Slots):<br />
      - Befestigung von Postern bis zu einer Größe von DIN A4 am Veranstaltungsort<br />
      - Textuelle Nennung auf Website mit Verlinkung ohne Logo und dem Sponsorenstatus: Bronze<br />
      - 2 Freitickets, max. 1 zusätzlich käuflich<br />

    Sie können dies auch der beiliegenden PDF-Datei entnehmen.

    Für Rückfragen stehe ich Ihnen gerne zur Verfügung.

    Mit freundlichen Grüßen,

    Philipp Kretzschmar

    PHP Unconference - OrgaTeam

    [1]: http://www.php-unconference.de/
  signature: >
    Keep it short.
  attachments:
    - phpunconf_2015_sponsoren_anschreiben.pdf