mail_account:
  host: smtp.gmail.com
  user: your_email@gmail.com
  password: YOUR_PASSWORD
  encryption: ssl

sender:
  email: philipp.kretzchmar@gmail.com
  name: Philipp Kretzschmar
  # will also be added to BCC on each mail send

live_mail_recievers:
  recievers:
    -
      firstname: firstname
      lastname: lastname
      email: person1@localhost
      gender: neutral # doesn't do anything yet
    -
      firstname: Jarael
      lastname: Dafoe
      email: person2@localhost
      gender: female

test_mail_recievers:
  recievers:
    -
      firstname: yourName
      lastname: yourLastName
      email: yourEmail@localhost
      gender: neutral

content:
  genderfoo:
    # doesn't do anything yet
    male: Mister
    female: Madame
  greeting: Hello
  subject: >
    This is the subject
  content: >
    This is the content of your mail. Be careful with your words ;)
  signature: >
    Keep it short.
  attachments:
    - exampleAttachement.txt
    - pdf-sample.pdf